<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latin</h1>
    <h2>Here's what you said in Pig Latin...</h2>
    <h2><%= PigLatinizer.params[:user_text] %></h2>
    </form>
  </body>
</html>